### MONGODB ###
MONGODB_URL=MONGODB_URL

### COOKIE ###
COOKIE_EXPIRE=COOKIE_EXPIRE

### THREADPOOL
UV_THREADPOOL_SIZE=UV_THREADPOOL_SIZE

## PORT ###
PORT=5000
 
## REdis ##
REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT

## EXPIRES ##
EXPIRES_ACCESS_TOKEN=EXPIRES_ACCESS_TOKEN=
EXPIRES_REFRESH_TOKEN=EXPIRES_REFRESH_TOKEN

## KEY SESSION ##
KEY_SESSION=KEY_SESSION

## JWT ##
JWT_SECRET=JWT_SECRET
JWT_EXPIRE=JWT_EXPIRE

### Send mail
GOOGLE_CLIENT_IDS = GOOGLE_CLIENT_IDS
GOOGLE_CLIENT_SECRETS = GOOGLE_CLIENT_SECRETS
GOOGLE_URL=GOOGLE_URL
GOOGLE_REFRESH_TOKEN=GOOGLE_REFRESH_TOKEN
NAME_EMAIL_FROM=NAME_EMAIL_FROM

### Accept Token and Refresh Token ####
ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET=REFRESH_TOKEN_SECRET

